extends layout

block content
  ul
    each data in datas
      li
        a(href='/restaurants/view/#{data.restaurant_id}')
          span
            =data.name 
        span
          =data.cuisine
       
