extends layout

block content
  ul
    each data in datas
      li
        a(href='/restaurants/view/#{data.restaurant_id}')
          div
            =data.name 
          div
            =data.cuisine
          div 
            =data.grades.score

       
