extends ../layout

block content
  div 
    select 
      each borough in boroughs
        option=borough
  div 
    select 
      echo cuisine in cuisines
        option=cuisine
  div 
    ul 
      each restaurant in restaurants
        a(href='/restaurants/view/#{restaurant.restaurant_id}')
          li=restaurant.name

    