extends ../layout

block content
  div 
    form(method="get", action="/restaurants")
    select(name="borough")
      each borough in boroughs
        option=borough._id 
    select(name="cuisine")
      each cuisine in cuisines
        option=cuisine._id
    button(type="submit")
  div 
    ul 
      each restaurant in restaurants
        a(href='/restaurants/view/#{restaurant.restaurant_id}')
          li=restaurant.name

    